// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.branding {
  text-align: center;

  &__site-name {
    font-family: $header-font;
    font-weight: bold;
    font-size: 100px;
    line-height: 65px;
    color: black;

    a {
      text-decoration: none;
      color: inherit;
      text-transform: lowercase;
    }
  }

  &__site-slogan {
    font-family: $slogan-font;
    font-size: 23px;
    color: $grey-200;
    text-transform: capitalize;
    font-weight: 400;
  }
}
