// Custom styles for horizontal-feature

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.horizontal-feature {
  display: flex;

  &__image {
    object-fit: cover;
    width: 240px;
    height: 230px
  }

  &__content {
    margin: 5px 0 5px 25px;
    color: #858585;
  }

  &__title {
    font-family: $font-family;
    margin: 15px 0;
    font-weight: 600;
    font-size: 27px;
    text-transform: capitalize;

    a {
      color: #2c2c2c;
      text-decoration: none;
    }
  }

  &__description {
    margin: 20px 0 17px 0;
    font-family: $font-family;
    font-size: 16px;
  }

}
