{#
/**
 * @file
 * share-links
 *
 * Available variables for share-links:
 *  - share_links.variable_name [variable_type]: Description of the variable. Example below.
 *  - share_links.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}
{% set share_links__classes = [
  'share-links',
  share_links__style ? 'share-links--' ~ share_links__style,
] | sort | join(' ') | trim %}

<div class="{{ share_links__classes }}">
  <div class="share-links__icons">
    {% if share_links__facebook %}
      <a href="{{ share_links__facebook }}">
        <i class="fab fa-facebook-f"></i>
      </a>
    {% endif %}

    <a href="#">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#">
      <i class="fab fa-pinterest-p"></i>
    </a>
  </div>
</div>
