// Custom styles for related-image

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.related-image {
  width: 270px;
  height: 200px;
  overflow: hidden;
  position: relative;

  &__img {

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    font-size: 10px;
    text-align: center;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
