// Custom styles for vertical-featured

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.vertical-featured {
  width: 410px;
  &__img {
    display: block;
    height: 340px;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    text-align: center;
    margin: 25px 0;
  }

  &__title {
    font-family: $font-family;
    color: #2c2c2c;
    margin: 15px 0;
    font-weight: 600;
    font-size: 27px;
    text-transform: capitalize;
  }

  &__description {
    margin: 20px 0 17px 0;
    font-family: $font-family;
    font-size: 16px;
    color: #747474;
  }
}
