{% embed '@atoms/grid/_grid-1-up.twig' %}
  {% set container = true %}

  {% block column_1 %}

    <h1 class="mb-3">Footer</h1>
    <div class="mb-3 p-3 bg-light border border-secondary rounded">
      <p class="lead">This is a simple footer to display inside a container.</p>
    </div>
    <hr>
  {% endblock %}
{% endembed %}

{% embed '@organisms/_footer.twig' with footer %}
  {% block left_side %}
    {% embed '@molecules/_vertical-links.twig' with { vertical_links__style: 'alternative' } %}
      {% block content %}
        <ul class="nav pr-2 flex-column">
          <li class="nav-item">
            <a href="/contact" class="nav-link" data-drupal-link-system-path="contact">Home</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link" data-drupal-link-system-path="contact">Travels</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link" data-drupal-link-system-path="contact">Lifestyle</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link" data-drupal-link-system-path="contact">Features</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link" data-drupal-link-system-path="contact">About</a>
          </li>
        </ul>
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% block middle_side %}
    {% include '@molecules/_square-image.twig' with square_image %}
  {% endblock %}

  {% block right_side %}
    {% include '@molecules/_info-block.twig' with info_block %}
    {% include '@molecules/_share-links.twig' with share_links %}
  {% endblock %}
{% endembed %}
