// Custom styles for header

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.header {
  text-align: center;
  padding: 75px 0 50px 0;
  border-bottom: 1px solid $grey-600;

  &__label {
    font-family: $header-font;
    font-weight: bold;
    font-size: 100px;
    line-height: 65px;
  }

  &__slogan {
    font-family: $slogan-font;
    font-size: 23px;
    color: $grey-200;
    text-transform: capitalize;
    font-weight: 400;
  }
}
