{#
/**
 * @file
 * image-carousel
 *
 * Available variables for image-carousel:
 *  - image_carousel.variable_name [variable_type]: Description of the variable. Example below.
 *  - image_carousel.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="image-carousel-item">
  <img src="{{ image_carousel_item__img.src }}" alt="{{ image_carousel_item__img.alt }}">
</div>
