// Custom styles for block-title

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.block-title {
  &__title {
    font-family: $font-family;
    font-weight: 600;
    margin: 15px 0;
    text-transform: capitalize;
    color: #2c2c2c;
    font-size: 28px;

    a {
      color: inherit;
      text-decoration: none;
    }

  }

  &--alternative &__title {
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 35px;
  }

  &--medium &__title {
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 18px;
  }
}
