{# This pattern should NOT be consumed directly by Drupal.
 # It is a guideline for regions, divs, and classes inside
 # of html.html.twig and page.html.twig while mocking the
 # familiar site structure for Pattern Lab.
 #}

{% include "@molecules/header/_header.twig"  with header_settings %}

{% include "@organisms/_navbar.twig" %}

<main class="main-content">
  {% block content %}

    {% embed '@atoms/grid/_grid-1-up.twig' with { container: true } %}
      {% block column_1 %}
        <div class="text-center" style="margin-top: 150px;">
          <h1>Site Content Here</h1>
          <p>This is just a dummy mockup to provide a realistic site wrapper for full-screen example pages.</p>
          <p>It should not be consumed by anything outside of Pattern Lab, but referenced as a guideline.</p>
          <p>To use it, <b>{{ '{% extend %}' }}</b> this template and override <b>{{ '{% block content %}' }}</b>.</p>
          <p>See full-page demos using this wrapper under the pages dropdown.</p>
        </div>

      {% endblock column_1 %}
    {% endembed %}

  {% endblock %}
</main>

{% embed '@organisms/_footer.twig' with footer %}
  {% block left_side %}
    {% embed '@molecules/_vertical-links.twig' with { vertical_links__style: 'alternative' } %}
      {% block content %}
        <ul class="nav pr-2 flex-column">
          <li class="nav-item">
            <a href="/contact" class="nav-link" data-drupal-link-system-path="contact">Home</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link" data-drupal-link-system-path="contact">Travels</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link" data-drupal-link-system-path="contact">Lifestyle</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link" data-drupal-link-system-path="contact">Features</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link" data-drupal-link-system-path="contact">About</a>
          </li>
        </ul>
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% block middle_side %}
    {% include '@molecules/_square-image.twig' with square_image %}
  {% endblock %}

  {% block right_side %}
    {% include '@molecules/_info-block.twig' with info_block %}
    {% include '@molecules/_share-links.twig' with share_links %}
  {% endblock %}
{% endembed %}
