// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.btn-icon {
  background: transparent;
  border: none;
  color: black;

  &:focus {
    box-shadow: none;
  }
}
