{#
/**
 * @file
 * show-more
 *
 * Available variables for show-more:
 *  - show_more.variable_name [variable_type]: Description of the variable. Example below.
 *  - show_more.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="show-more">
  {% block content %}
    <a href="{{ show_more__url | default('#')}}" target="{{ show_more__target | default('_blank') }}" title="{{ show_more__title | default('Show more') }}">
      <i class="fas fa-arrow-right"></i>
    </a>
  {% endblock %}
</div>
