{#
/**
 * @file
 * columns
 *
 * Available variables for columns:
 *  - columns.variable_name [variable_type]: Description of the variable. Example below.
 *  - columns.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}


<div class="container columns">
  <div class="row">
    <div class="col-md-{{ columns__left|default(6) }}">
      {% block left_side %}{% endblock %}
    </div>

    <div class="col-md-{{ columns__right|default(6) }}">
      {% block right_side %}{% endblock %}
    </div>
  </div>
</div>
