{#
/**
 * @file
 * image-card
 *
 * Available variables for image-card:
 *  - image_card.variable_name [variable_type]: Description of the variable. Example below.
 *  - image_card.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="image-card">
  <div class="image-card__img">
    <img src="{{ image_card__image.src }}" alt="{{ image_card__image.alt }}">
  </div>
  <div class="image-card__content">
    {% block tag %}
      {% include '@atoms/_tag.twig' with { tag__label: image_card__tag, tag__style: 'alternative'} %}
    {% endblock %}

    {% block title %}
      {% include '@atoms/_block-title.twig' with { block_title__label: image_card__title, block_title__style: 'alternative'} %}
    {% endblock %}

    {% block date %}
      {% include '@atoms/_date.twig' with { date__label: image_card__date,  date__comments: image_card__comments, date__style: 'alternative'} %}
    {% endblock %}
  </div>
</div>
