// Custom styles for date

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.date {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-family: $font-family;
  letter-spacing: 1px;
  margin-bottom: 20px;

  &__label {
    color: #8f8f8f;
    margin-right: 10px;
  }

  &__comments {
    color: #3d3d3d;
    margin-left: 10px;
  }

  &--alternative span {
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    font-weight: bold;
  }
}
