{#
/**
 * @file
 * social-media
 *
 * Available variables for social-media:
 *  - social_media.variable_name [variable_type]: Description of the variable. Example below.
 *  - social_media.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="social-media">
  <div class="social-media__icons">
    <a href="#">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#">
      <i class="fab fa-pinterest-p"></i>
    </a>
  </div>
  <div class="social-media__label">{{ social_media_label }}</div>
</div>
